<!DOCTYPE html>
<html>
<head>
  <title>Blog</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="navbar navbar-default">
    <div class="col-md-4">
      <%= link_to "Home", root_path %>
    </div>
    <div class="col-md-4">
      <%= link_to "New Blog Entry", new_blog_post_path %>
    </div>
    <% if user_signed_in? %>
      <div class="col-md-4">
        Welcome  <%= current_user.user_name %> |
        <%= link_to "Log out", destroy_user_session_path, method: :delete %>
      </div>
    <% else %>
      <div class="col-md-4">
        <%= link_to "Log in", new_user_session_path %>
        <%= link_to "Register", new_user_registration_path %>
      </div>
    <% end %>
  </div>
<%= yield %>

</body>
</html>
